Screen {
    layout: vertical;
    align-vertical: bottom;
    content-align: left bottom;
}

.box {
    height: 1fr;
    border: solid $success;
}

#prompt {
    dock: bottom;
    height: 1;
}

#textlog {
    align: left bottom;
    content-align: left bottom;
}
